/* --- ANIM/animations.css --- */
@keyframes treeMove {
    0% {
        transform: translateX(60vw);
    }
    100% {
        transform: translateX(-20vw);
    }
}
@keyframes rockMove {
    0% {
        right: -10%;
    }
    100% {
        right: 110%;
    }
}
@keyframes mtn {
    0% {
        transform: translateX(200px) rotate(130deg);
    }
    100% {
        transform: translateX(-2000px) rotate(130deg);
    }
}
@keyframes hill {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(-2000px);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2px);
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes pulseDot {
    0% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(34, 197, 94, 0);
    }
}
